{% extends "core/base.html" %}
{% load truncate %}

{% block body %}
<div class="row">
    {% with page.end_row_indexes as indexes %}
      {% for block in blocks %}
      <div class="col m{{ block.columns }} row-eq-height">
        {{ block.render }}
      </div>
        {% if forloop.counter0 in indexes%}
</div>
          {% if not forloop.last %}
<div class="row">
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endwith %}
</div>

{% endblock body %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.carousel.carousel-slider').carousel({fullWidth: true});
        })
        $('.carousel').carousel();
        setInterval(function () {
            $('.carousel').carousel('next');
        }, 8000);
    </script>

{% endblock %}
