{% extends "core/base.html" %}
{% load truncate %}

{% block body %}
<div >
    {% for block in blocks %}
    <div class="columns medium-{{ block.columns }}">
        {{ block.render }}
    </div>
    {% endfor %}
</div>
<div class="row"></div>

{% endblock body %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.carousel.carousel-slider').carousel({fullWidth: true});
        })
        $('.carousel').carousel();
        setInterval(function () {
            $('.carousel').carousel('next');
        }, 8000);
    </script>

{% endblock %}
