{% extends "core/base.html" %}
{% load truncate %}

{% block body %}
<div >
    {% for row in page.structure %}
    {% if row|length > 1%}
    <div class="row">
      {% for cms_block in row %}
        <div class="columns medium-{{ cms_block.columns }}">
        {{ cms_block.render }}
        </div>
      {% endfor%}
    </div>
    {% else %}
      {{ row.0.render }}
    {% endif %}
    {% endfor %}
</div>
<div class="row"></div>

{% endblock body %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.carousel.carousel-slider').carousel({fullWidth: true});
        })
        $('.carousel').carousel();
        setInterval(function () {
            $('.carousel').carousel('next');
        }, 8000);
    </script>

{% endblock %}
